.contact-area
{
    text-align: center;
}

.contact-box
{
    padding-bottom: 50px;
    margin-bottom: 50px;
    border-color: 1px solid #3EC1D5;
}


#msg-box p
{
    font-size: 22px;
}

.contact-box i 
{
    color:#3EC1D5;
    height: 55px;
    line-height: 55px;
    font-size: 24px;
    margin-bottom: 20px;
}

.contact-title
{
    font-weight: bold;
    color: #3EC1D5;
}

.contact-box p
{
    font-size:16px;
}


#contact-form input[type="text"], #contact-form input[type="email"], #contact-form textarea
{
    margin-bottom: 15px;
    border-radius: 0;
} 

#contact-form .main-btn{
    width: 120px;
    height: 50px;
    border-radius: 40px;
    border-style: none;
    margin-bottom: 20px;
}
#contact-form .main-btn:hover{
    background-color: #3EC1D5;
    color: aliceblue;
}

#copy-area
{
    background-color: #f1f1f1;
}

#copy-area .container
{
    padding: 10px 0;
    text-align: center;
}